@import url("./pallete.css");

.App {
  text-align: center;
  background-color: var(--background-first-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  width: 100%;
}
